{
	"singleQuote": false,
	"semi": true,
	"useTabs": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"printWidth": 120,
	"arrowParens": "avoid",
	"requirePragma": false,
	"jsxBracketSameLine": false,
	"endOfLine": "lf",
	"quoteProps": "as-needed",
	"bracketSpacing": false,
	"overrides": [
		{
			"files": "*.scss",
			"options": {
				"tabWidth": 4
			}
		}
	]
}
